In [9]:
import pandas as pd
siads_csv = pd.read_csv('2024-10-17-SIADS_RelatorioInventario.csv', on_bad_lines='skip', encoding='latin-1')

siads_csv.to_clipboard()
display(siads_csv.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2918 entries, 0 to 2917
Data columns (total 20 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Unnamed: 0                                           584 non-null    object
 1   Unnamed: 1                                           73 non-null     object
 2   Unnamed: 2                                           364 non-null    object
 3   Unnamed: 3                                           365 non-null    object
 4   Unnamed: 4                                           365 non-null    object
 5   Unnamed: 5                                           73 non-null     object
 6   Unnamed: 6                                           365 non-null    object
 7   26418 - INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO  291 non-null    object
 8   Unnamed: 8                                           364 non-null    object
 9   Unnamed: 9                                           365 non-null    float64
 10  Unnamed: 10                                          365 non-null    float64
 11  Unnamed: 11                                          73 non-null     object
 12  Unnamed: 12                                          365 non-null    float64
 13  MATERIAL:                                            364 non-null    object
 14  Unnamed: 14                                          438 non-null    object
 15  Unnamed: 15                                          365 non-null    object
 16  Unnamed: 16                                          73 non-null     object
 17  Unnamed: 17                                          365 non-null    object
 18  Unnamed: 18                                          73 non-null     object
 19  Unnamed: 19                                          73 non-null     float64
dtypes: float64(4), object(16)
memory usage: 456.1+ KB

None

In [16]:
# Lendo todas as abas do arquivo Excel
file_path = '2021-10-17-SIADS_RelatorioInventario.xls'
siads_excel = pd.read_excel(file_path, sheet_name=None)

# Concatenando todas as abas em um Ãºnico DataFrame
combined_df = pd.concat(siads_excel.values(), ignore_index=True)

# Exibindo as primeiras linhas do DataFrame combinado
print(combined_df.info())

C:\Users\Ricar\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10219 entries, 0 to 10218
Data columns (total 40 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   0 non-null      float64
 1   Unnamed: 1   289 non-null    object
 2   Unnamed: 2   86 non-null     object
 3   Unnamed: 3   414 non-null    object
 4   Unnamed: 4   0 non-null      float64
 5   Unnamed: 5   414 non-null    object
 6   Unnamed: 6   414 non-null    object
 7   Unnamed: 7   0 non-null      float64
 8   Unnamed: 8   0 non-null      float64
 9   Unnamed: 9   86 non-null     object
 10  Unnamed: 10  414 non-null    object
 11  Unnamed: 11  0 non-null      float64
 12  Unnamed: 12  0 non-null      float64
 13  Unnamed: 13  340 non-null    object
 14  Unnamed: 14  4 non-null      object
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
 19  Unnamed: 19  0 non-null      float64
 20  Unnamed: 20  413 non-null    object
 21  Unnamed: 21  414 non-null    object
 22  Unnamed: 22  414 non-null    float64
 23  Unnamed: 23  86 non-null     object
 24  Unnamed: 24  2 non-null      object
 25  Unnamed: 25  0 non-null      float64
 26  Unnamed: 26  425 non-null    object
 27  Unnamed: 27  5 non-null      object
 28  Unnamed: 28  0 non-null      float64
 29  Unnamed: 29  0 non-null      float64
 30  Unnamed: 30  0 non-null      float64
 31  Unnamed: 31  86 non-null     object
 32  Unnamed: 32  426 non-null    object
 33  Unnamed: 33  20 non-null     object
 34  Unnamed: 34  88 non-null     object
 35  Unnamed: 35  1 non-null      object
 36  Unnamed: 36  1 non-null      object
 37  Unnamed: 37  85 non-null     object
 38  Unnamed: 38  86 non-null     object
 39  Unnamed: 39  1 non-null      float64
dtypes: float64(17), object(23)
memory usage: 3.1+ MB
None

In [18]:
combined_df.to_clipboard(index=False)