In [6]:
import pandas as pd
import tabula


siads = tabula.read_pdf("SIADS_RelatorioInventario.pdf", pages='all', encoding='latin-1')
print(type(siads))

<class 'list'>

In [36]:
pd.set_option('max_colwidth', 100)

# print(siads[0])
print(type(siads))

content = f'{siads[0].iloc[0]}'
content = content.strip()
content = content.split('-')
if len(content) == 4:
    print(len(content))
    
    for i in range (0, len(content)):
        print(content[i])
        print('\n')
    # print(content)
    content[1] = content[1].strip()
    content[1] = content[1].split(' ')
    content[1] = content[1][-1]
    print(content[1])
    print(content)
    
    
    ug = [content[0]]
    uasg = content[1]

<class 'list'>
4
26418


 INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO    151911


 IFPE


 CAMPUS AFOGADOS DA INGAZEIRA
MATERIAL:                                                                     CONTA: 1 a 9999999999
TODOS                                                                                           NaN
Name: 0, dtype: object


151911
['26418 ', '151911', ' IFPE ', ' CAMPUS AFOGADOS DA INGAZEIRA\nMATERIAL:                                                                     CONTA: 1 a 9999999999\nTODOS                                                                                           NaN\nName: 0, dtype: object']

In [37]:
siads_df = pd.DataFrame(columns=['uasg', 'ug', 'uorg', 'data_base', 'conta', 'cod_subitem', 'desc_subitem', 'codigo', 'descricao', 'und_fornecimento', 'qtd', 'vlr_unit', 'vlr_total'])

siads_df['ug'] = ug
siads_df['uasg'] = uasg
display(siads_df)

,uasg,ug,uorg,data_base,conta,cod_subitem,desc_subitem,codigo,descricao,und_fornecimento,qtd,vlr_unit,vlr_total
0,151911,26418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

['26418 ', ' INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO    151911 ', ' IFPE ', ' CAMPUS AFOGADOS DA INGAZEIRA\nMATERIAL:                                                                     CONTA: 1 a 9999999999\nTODOS                                                                                           NaN\nName: 0, dtype: object']

322
4
26418


 INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO    151911


 IFPE


 CAMPUS AFOGADOS DA INGAZEIRA
MATERIAL:                                                                     CONTA: 1 a 9999999999
TODOS                                                                                           NaN
Name: 0, dtype: object